<p>Hi {{salutation}},</p>

<p>I wanted to quickly follow-up with you and see if you had any questions. If there's anything I can do to help, please let me know.</p>

<p>Cheers,<br>
-Nick</p>

<p>Nick Wehner<br>
Director of Open Initiatives<br>
OCTO | Open Communications for The Ocean<br>
<a href="https://www.octogroup.org">https://www.octogroup.org</a> | <a href="https://www.openchannels.org">https://www.openchannels.org</a> | <a href="https://marxiv.org">https://marxiv.org</a><br>
nick@octogroup.org | nwehner@protonmail.com<br>
Office: +1-206-420-1175<br>
Mobile: +1-206-745-2138<br>
Spokane, Washington, USA (UTC-7)<br>
Learn about the importance of making your research freely-available with MarXiv from Oceans Deeply: <a href="https://oct.to/marxivod">https://oct.to/marxivod</a></p>

<p><img alt="MarXiv Logo" src="https://www.marxivinfo.org/sites/default/files/editor/MarXiv-Color-PNG.png" style="max-height:70px; width:125px; max-width:100%"></p>

<blockquote type="cite" class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex">
  <p>Hi {{salutation}},</p>

  <p>This is Nick from MarXiv again. Thanks for sharing your other work with us already! I'm writing this time to see if you could share, "{{paper}}", with us in MarXiv, too.</p>

  <p>Thanks to researchers like yourself, MarXiv has saved ocean conservationists over {{savings}} in per-article download fees since we launched in November 2017.</p>

  <p>As you probably already know, {{publisher}} actively encourages its authors to share their submitted manuscripts (preprints) in free repositories so the research is available to those who need it. You can read more about the sharing policies for {{publisher}} at <a href="{{policy}}">{{policy}}</a>. You can see an example preprint in MarXiv at <a href="https://marxiv.org/nfbs3/">https://marxiv.org/nfbs3</a>. To be clear, since {{publisher}} holds the copyright of your paper, you cannot publicly share the final version of your article. However, <a href="https://www.marxivinfo.org/policies">you are permitted to share your "submitted/original manuscript" immediately and your "accepted manuscript" usually after a typical 6-month to 2-year embargo period</a>. Often your "accepted manuscript" must be licensed in a way that prevents your work from being translated into other languages, so I encourage you to share your "original manuscript" instead, as it may be licensed more openly.</p>

  <p>Research shared in repositories like MarXiv (often called "Green Open Access" publications) are <a href="https://peerj.com/articles/4375/">cited 30% more on average</a> as more people are able to read your work for free. According to the <a href="https://www.oecd-ilibrary.org/science-and-technology/drivers-and-implications-of-scientific-open-access-publishing_5jlr2z70k0bx-en">OECD's analysis</a>, Green Open Access publications are not only cited more than native "Gold Open Access" papers, but Green Open Access papers are also cited more often in law and policy which is critical for ocean conservation.</p>

  <p>You can share your paper directly in the MarXiv repository at <a href="https://marxiv.org">https://marxiv.org</a>. Just click the <a href="https://marxiv.org/submit">“Add a paper” button</a> to share the PDF of your original manuscript. If you have any questions or need help, please do not hesitate to ask me.</p>

  <p>Thank you for your support,<br>
  -Nick</p>
</blockquote>
