<p>Hi {{salutation}},</p>

<p>On behalf of OCTO, the David and Lucile Packard Foundation, and the Center for Open Science, I’m writing regarding your paper, {{paper}}.</p>

<p>I ask that you please share your submitted manuscript (colloquially known as the ‘preprint’) in <a href="https://marxiv.org/">MarXiv, the free repository for marine conservation science</a>. MarXiv serves more than 80,000 ocean managers and conservationists worldwide, many of whom would benefit from your research. Your research currently costs {{price}} for the published version, which puts it outside the means of many practitioners, particularly in developing nations.</p>

<p>{{publisher}} actively encourages its authors to share their submitted manuscripts (preprints) in free repositories so the research is available to those who need it. You can read more about the sharing policies for {{publisher}} at <a href="{{policy}}">{{policy}}</a>. You can see an example preprint in MarXiv at <a href="https://marxiv.org/nfbs3/">https://marxiv.org/nfbs3</a>. To be clear, since {{publisher}} holds the copyright of your paper, you cannot publicly share the final version of your article. However, <a href="https://www.marxivinfo.org/training#rights">you are permitted to share your "submitted/original manuscript" immediately and your "accepted manuscript" after a 1-2 year embargo period</a>.</p>

<p>MarXiv recently launched in November 2017. The average pay-walled journal article in MarXiv is downloaded more than 120 times, saving each reader $30-60. Research shared in repositories like MarXiv are <a href="https://peerj.com/articles/4375/">cited 30% more on average</a> as more people are able to read your work for free.</p>

<p>MarXiv is supported by the <a href="https://www.packard.org">Packard Foundation</a>, hosted by the <a href="https://cos.io">Center for Open Science</a> at the University of Virginia, and produced by the nonprofit, <a href="https://www.octogroup.org">OCTO</a>. The repository was recently <a href="https://www.newsdeeply.com/oceans/articles/2018/01/18/tear-down-that-paywall-the-movement-to-make-ocean-research-free-for-all">featured in OceansDeeply</a>.</p>

<p>It only takes 3 minutes to share your research in MarXiv. Simply visit the MarXiv repository at <a href="https://marxiv.org">https://marxiv.org</a> and click the <a href="https://marxiv.org/submit">“Add a paper” button</a> to share the PDF of your original manuscript. If you have any questions or need help, please do not hesitate to ask me.</p>

<p>Thank you for your support,<br>
-Nick</p>

<p>Nick Wehner<br>
Director of Open Initiatives<br>
OCTO | Open Communications for The Ocean<br>
<a href="https://www.octogroup.org">https://www.octogroup.org</a> | <a href="https://www.openchannels.org">https://www.openchannels.org</a> | <a href="https://marxiv.org">https://marxiv.org</a><br>
nick@octogroup.org | nwehner@protonmail.com<br>
Office: +1-206-420-1175<br>
Signal: +1-206-745-2138<br>
Spokane, Washington, USA (UTC-7)<br>
Learn about the importance of making your research freely-available with MarXiv from Oceans Deeply: <a href="https://oct.to/marxivod">https://oct.to/marxivod</a></p>

<p><img alt="MarXiv Logo" src="https://www.marxivinfo.org/sites/default/files/editor/MarXiv-Color-PNG.png" style="max-height:70px; width:125px; max-width:100%"></p>
