<p>Hi {{salutation}},</p>

<p>It's been a few weeks since I last reached out to you, so I just wanted to quickly check back in again and see if I could be of any help. If you're too busy to share your paper yourself, please feel free to just send the manuscript to me and I can take care of it.</p>

<p>If you have any questions or concerns, please let me know.</p>

<p>Thank you,<br>
-Nick</p>

<p>Nick Wehner<br>
Director of Open Initiatives<br>
OCTO | Open Communications for The Ocean<br>
<a href="https://marxiv.org">https://marxiv.org</a> | <a href="https://www.marxivinfo.org">https://www.marxivinfo.org</a> | <a href="https://www.octogroup.org">https://www.octogroup.org</a><br>
nick@marxiv.octogroup.org | nick@octogroup.org | nwehner@protonmail.com<br>
Mobile: +1-206-745-2138<br>
Spokane, Washington, USA ({{offset}})</p>

<p><img alt="MarXiv Logo" src="https://s3.amazonaws.com/aws-website-octo-9moyy/images/logos/marxiv-open-your-ocean-science.png" style="max-height:164px; width:211px; max-width:100%"></p>

<blockquote type="cite" class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex">
  <p>Hi {{salutation}},</p>

  <p>I wanted to quickly follow-up with you and see if you had any questions. If there's anything I can do to help, please let me know.</p>

  <p>Cheers,<br>
  -Nick</p>

  <blockquote type="cite" class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex">
    <p>Hi {{salutation}},</p>

    <p>On behalf of OCTO, the David and Lucile Packard Foundation, and the Center for Open Science, I'm writing regarding your paper, {{paper}} (DOI: {{doi}}).</p>

    <p>I ask that you please share your submitted manuscript (colloquially known as the 'preprint') in <a href="https://marxiv.org/">MarXiv, the free repository for marine conservation science</a>. MarXiv serves more than 80,000 ocean managers and conservationists worldwide, many of whom would benefit from your research. Your research is currently what is called "Gray OA" meaning that it is only available for free for a limited period of time. At any time your publisher could start charging $30-60 for each PDF, which puts it outside the means of many practitioners, particularly in developing nations.</p>

    <p>{{publisher}} actively encourages its authors to share their submitted manuscripts (preprints) in free repositories so the research is available to those who need it. You can read more about the sharing policies for {{publisher}} at <a href="{{policy}}">{{policy}}</a>. You can see an example preprint in MarXiv at <a href="https://marxiv.org/nfbs3/">https://marxiv.org/nfbs3</a>. To be clear, since {{publisher}} holds the copyright of your paper, you cannot publicly share the final version of your article. However, <a href="https://www.marxivinfo.org/policies">you are permitted to share your "submitted/original manuscript" immediately and your "accepted manuscript" after a 6-month to 2-year embargo period</a>. Often your "accepted manuscript" must be licensed in a way that prevents your work from being translated into other languages, so I encourage you to share your "original manuscript" instead, as it may be licensed more openly.</p>

    <p>MarXiv recently launched in November 2017. The average pay-walled journal article in MarXiv is downloaded more than 80 times, saving each reader $30-60. To date, MarXiv has saved ocean conservationists over {{savings}} in per-article download fees.</p>

    <p>Research shared in repositories like MarXiv (often called "Green Open Access" publications) are <a href="https://peerj.com/articles/4375/">cited 30% more on average</a> as more people are able to read your work for free. According to the <a href="https://www.oecd-ilibrary.org/science-and-technology/drivers-and-implications-of-scientific-open-access-publishing_5jlr2z70k0bx-en">OECD's analysis</a>, Green Open Access publications are not only cited more than native "Gold Open Access" papers, but Green Open Access papers are also cited more often in law and policy which is critical for ocean conservation.</p>

    <p>MarXiv is supported by the <a href="https://www.packard.org">Packard Foundation</a>, hosted by the <a href="https://cos.io">Center for Open Science</a> at the University of Virginia, and produced by the nonprofit, <a href="https://www.octogroup.org">OCTO</a>. The repository was recently <a href="https://www.newsdeeply.com/oceans/articles/2018/01/18/tear-down-that-paywall-the-movement-to-make-ocean-research-free-for-all">featured in OceansDeeply</a>.</p>

    <p><strong>It only takes 3 minutes to share your research in MarXiv. Simply visit the MarXiv repository at <a href="https://marxiv.org">https://marxiv.org</a> and click the <a href="https://marxiv.org/submit">"Add a paper" button</a> to share the PDF of your original manuscript.</strong> If you have any questions or need help, please do not hesitate to ask me.</p>

    <p>Thank you for your support,<br>
    -Nick</p>
  </blockquote>
</blockquote>
